<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Tester</title>
</head>
<body>
  <h3>Create Tester</h3>
  <form action="/tester/new" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" required>
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" required>
    <label for="company_id">Company_id: </label>
    <input type="text" name="comapny_id" id="comapny_id" required>
    <button type="submit">Submit</button>
  </form>
  <a href="/tester">Back to home</a>
</body>
</html>
