<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testers</title>
</head>
<body>
  <h3>Testers</h3>
  <% testers.forEach(tester => { %>
    <li> <%= tester.name %> </li>
  <% }) %>
  <form action="/tester/new" method="GET">
    <button type="submit"> Add new </button>
  </form>
</body>
</html>
