<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Company</title>
</head>
<body>
  <h3>Create Company</h3>
  <form action="/company/new" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required>
    <label for="industry">Industry: </label>
    <input type="text" name="industry" id="industry" required>
    <button type="submit">Submit</button>
  </form>
  <a href="/company">Back to home</a>
</body>
</html>
